.client {
    width: 60%;

}

.client-png {
    width: 60%;
}

.section-commentaire {
    text-align: center;
}

.stars {
    width: 50%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.commentaire h4, p {
    text-align: left;
}

h2 {
    padding-bottom: 4%;
}

.nom {
    text-align: center;
}