.section-team {
    text-align: center;
    padding-top: 4%;
    
    .container {
        h2 {
            text-transform: uppercase;
            padding-bottom: 3%;
        }

        .profil {
            max-width: 40%;
            height: auto;
            }
    }
}